:root{
    --Primario: hsl(56, 82%, 53%);
    --Secundario: #000000;
    --Tersario: #131f68;
    --Cuartario: #74b8dd;
    --blanco: #ffff;
    --negro: #212121;
    --gris: #5f5f5f;
    --fog: #d7ddff;
    --Quintario: #ffbe31;
}

.contenido-principal{ 
    background-color: var(--blanco);
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 1rem;
}

.contenido-principal h1{ 
    margin-bottom: 3rem; 
    color: var(--blanco); 
    margin-top: 0;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;

}

.servicioss {
    border-radius: 5px;
    background-color: #74b8dd;
    display: block;
    padding: 5rem;
}

.a1:link, .a1:visited{
    text-decoration: none;
    color: white;
    cursor: default;
}

.servicioss:hover {
    background-color: #73A3F5;
}

.servicioss:active {
    background-color: #678BF6;
}