/****Custom Properties****/
:root{
    --Primario: hsl(56, 82%, 53%);
    --Secundario: #000000;
    --Tersario: #313f9a;
    --Cuartario: #74b8dd;
    --blanco: #ffff;
    --negro: #212121;
    --gris: #5f5f5f;
    --fog: #d7ddff;
    --Quintario: #ffbe31;
}

/****Presets****/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/****Globales****/
body{
    font-size: 1.6rem;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--fog) 0%, var(--blanco) 90%);
}

header {
    display: flex;
    background-color: var(--fog);
}

.logo{
    margin-top: 10px;
    margin-bottom: 5px;
}

.Slogan {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.Buton {
    background-color: var(--Cuartario);
    padding: 10px;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
    display: block;
    text-align: center;
    font-family: 'Roboto Mono', monospace;  
    font-weight: bold;
    color: var(--blanco);
    text-decoration: none;
    padding: 1.5rem;
    border-radius: 1rem;
}
.Buton:hover {
    zoom: 105%;
    box-shadow: 3px 3px 3px #7f7f7f;
}

.Buton1 {
    background-color: var(--Primario);
    padding: 5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    display: block;
    text-align: center;
    font-family: 'Roboto Mono', monospace;  
    font-weight: bold;
    color: var(--blanco);
    text-decoration: none;
}

.Buton1:hover {
    zoom: 105%;
    box-shadow: 5px 5px 5px #1e1751;

}

.Decoracion {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 30px;
}

.Decoracion img {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}


@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

* {
    margin:auto;
    padding:0;
    font:12pt Arial;
}

body {
  background-color:#34495e;
}

.field {
  display:flex;
  position:realtive;
  margin-bottom: 200px;
  width:70%;
  flex-direction:row;
  ;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
  border-radius: 30px;
  cursor: text;
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
  cursor: pointer;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    color: var(--Tersario);
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

h1{
    font-size: 2.4rem;
    font-weight: 400;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6;
}
p{
    margin: 0;
}
span{
    font-family: 'Roboto Mono', monospace;  
    font-size: 1.6rem;
    color: var(--Cuartario);
}

/****Utilidades****/
.negrita{
    font-weight: 700;
}

.naranjo{
    color: var(--Quintario);
}

.contenedor{
    max-width: 90rem;
    margin: 0 auto;
}

.sombra-abajo{
    /*-webkit-box-shadow: 0px 5px 6px 0px rgba(130,130,130,0.87);*/
    -moz-box-shadow: 0px 5px 6px 0px rgba(130,130,130,0.87);
    box-shadow: 0px 5px 6px 0px rgba(130,130,130,0.87);
}

/*--Se editan propiedades del contenedor boton, este contenedor solo se usa en caso de que el boton por si solo no se centre bien*/
.contenedor-boton{ /*section>div>div*/
    display: flex; /*--Dado que el padre es flex, se cambia boton a display flex para poder alinear correctamente el contenido*/
    justify-content: center; /*--Se centra el contenido del boton*/
    width: 75%; /*--Se define un ancho en porcentaj epara mobile first*/
    margin-top: 2rem; /*--Se agrega margen arriba*/
}
/*--Se editan propiedades de a en boton*/
.boton{
    text-align: center; /*--Se centra el texto*/
    background-color: var(--celeste); /*--Se colore el fondo del texto, para que todo el fondo tome el link*/
    padding: 1.6rem 3rem; /*--Se agrega relleno*/
    width: 100%; /*--Se indica que tome el 100% del tamaño del contenedor padre*/
    border-radius: 2.5rem; /*--Se redondean los bordes, boton tipo capsula*/
    font-size: 1.8rem; /*--Se incrementa el tamaño de fuente*/
    font-weight: 700; /*--Se pone texto en negrita*/
    text-transform: uppercase; /*--Se transforma el texto en mayusculas*/
    border: none; /*--Se quitan los bordes*/
    color: var(--blanco); /*--Se colorea la fuente a blanco*/
}
/*--Se aplica hover al boton*/
.boton:hover{
    background-color: var(--naranjo); /*--Al hacer hover se colorea el fondo naranjo*/
    cursor: pointer; /*--Al hacer hover se coloca el cursor como mano*/
}

@media (min-width: 768px){
    .boton{
        border-radius: .5rem; /*--Se redondean levemente los bordes, en vez de tipo capsula*/
        padding: 1.2rem 3rem;
    }
}

.flex-end{
    align-items: end;
    justify-content: end;
}
/****Estilos****/
/**<Navegacion principal>*/
.nav-bg{ /*div*/
    background-color: var(--Tersario);
}

.navegacion-principal{ /*div>nav*/
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{ /*div>nav>a*/
    display: block;
    text-align: center;
    font-family: 'Roboto Mono', monospace;  
    font-weight: bold;
    color: var(--blanco);
    text-decoration: none;
    padding: 1.5rem;
}

.navegacion-principal a:hover{
    background-color: var(--Primario);
}
/**<Navegacion principal/>*/

/**<Hero>*/
.hero{ /*section*/
    background-image: url(../img/Bolsaempleo_articulo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
}

.contenido-hero{ /*section>div*/
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contenido-hero h2,
.contenido-hero p,
.contenido-hero a{
    color: var(--blanco);
    text-decoration: none;
}

.contenido-hero h2{
    margin-top: 200px;
}


@media (min-width: 768px){
    .boton{
        width: auto; 
    }
    .boton a{
        border-radius: .5rem; 
        padding: 1rem 2.5rem; 
    }
}



.contenido-principal{ 
    background-color: var(--Tersario);
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 1rem;    
}

.contenido-principal h2{ 
    margin-bottom: 3rem; 
    color: var(--blanco); 
    margin-top: 0;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
}

.servicios{ 
    margin-bottom: 3rem;
}

@media (min-width: 768px){
    .servicios{ 
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        gap: 1.5rem; 
    }
} 

.servicio{ 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: 2rem; 
    margin-bottom: 3rem; 
}

.servicio h3{
    margin: 0;
    font-weight: 400;
}

.iconos{ /*main>div>section>div*/
    height: 14rem; /*--Se define altura*/
    width: 14rem; /*--Se define ancho*/
    padding: 1rem; /*--Se agrega relleno o espacio hacia adentro*/
    background-color: var(--celeste); /*--Se define color de fondo*/
    border-radius: 50%; /*--Se convierte el cuadara en circulo*/
    display: flex; /*--Se cambia a display flex para ordenar los iconos*/
    justify-content: space-evenly; /*--Se agrega espacio entre los iconos*/
    align-items: center; /*--Se centran los iconos verticalemente*/
}


/**<Formulario contacto>**/
.formulario{ /*section>form*/
    margin: 0 auto; /*--Dado que el padre no es flex Se centra el formulario con margin*/
    background-color: var(--gris);
    width: min(60rem, 100%); /*--Utiliza el valor mas pequeño entre el primer valor y el segundo valor tomando de referencia px*/
    border-radius: 2.5rem; /*--Se redondean los bordes*/
    padding: 2rem; /*--Se agrega relleno*/
    margin-bottom: 1rem; /*--Se agrega margen abajo*/
}

.formulario fieldset{ /*section>form>fieldset*/
    border: none; /*--Se quitan los bordes*/
}

.formulario legend{ /*section>form>legend*/
    /*--Se centra el texto
    width: 100%; --Se asigna el 100% del ancho al legend, ya que este no lo haceen todos los navegadores
    text-align: center; --Ahora si se puede alinear el texto
    */
    margin: 0 auto; /*--Se centra el legend*/
    margin-bottom: 1rem; /*--Se agrega margen abajo*/
    color: var(--blanco); /*--Se cambia el color de fuente*/
    font-size: 1.8rem; /*--Se cambia el tamaño de la fuente*/
    font-weight: 700; /*--Se pone el texto en negrita*/
}

@media (min-width: 768px){
    .contenedor-campos{ /*section>form>fieldset>div*/
        display: grid; /*--Se cambia a display grid*/
        grid-template: auto auto 20rem / 1fr 1fr 1fr; /*--Se definen 3 filas (2 auto 1 de 20rem) y 3 columnas de 1 fraccion cada una*/
        gap: 1rem; /*--Se agrega separacion entre las celdas*/
    }
    .campo:nth-child(1){ /*section>form>fieldset>div>div(nth1)*/
        grid-column: 1 / 3; /*--En la fila actual se toma espacio desde la linea 1 a la 3 de columna*/
    }
    .campo:nth-child(3){ /*section>form>fieldset>div>div(nth3)*/
        grid-column: 1 / 4;/*--En la fila actual se toma espacio desde la linea 1 a la 4 de columna*/
    }
    .campo:nth-child(4){ /*section>form>fieldset>div>div(nth4)*/
        grid-column: 1 / 4;/*--En la fila actual se toma espacio desde la linea 1 a la 4 de columna*/
    }
}

.campo{ /*section>form>fieldset>div>div*/
    margin: 1rem; /*--Se agrega margen*/
    text-align: center; /*--Se centra el texto, sirve para centrar el boton enviar*/
}

.campo label{ 
    text-align: left; /*--Se alinea el texto de label a la izquierda*/
    display: block; /*--Se cambia label a display block para que se pongan los elementos uno sobre otro*/
    color: var(--blanco); /*--Se cambia el color de fuente a blanco*/
    font-weight: 400; /*--Se pone el texto en negrita*/
    margin-bottom: .6rem ; /*--Se agrega margen abajo*/
}

.input-text{ /*section>form>fieldset>div>div>input*/
    width: 100%; /*--Se da un ancho de 100% para que cada campo tome el ancho completo*/
    border: none; /*--Se quitan los bordes*/
    border-radius: 2.5rem;
    padding: 1.2rem; /*--Se agrega relleno*/
}

.campo .boton{ /*section>form>fieldset>div>div>input*/
    width: 100%; /*--Se otorga tamaño del 100% al boton para que tome el ancho completo del formulario*/
    margin-top: 1.5rem; /*--Se agrega margen arriba*/
}

@media (min-width: 768px){
    .input-text{
        border-radius: .5rem;
    }
    .campo{
        display: flex;
        flex-direction: column;
    }
    .campo .boton{
        width: 14rem;
        text-align: center;
    }
}

.campo textarea{
    height: 20rem; /*--Se define un alto para el text area*/
    resize: none; /*--Se quita la propiedad de tamaño ajustable por el usuario*/
}
/**<Formulario contacto/>**/

/**<Footer>**/
.pie{ /*footer*/
    text-align: center; /*--Se centra el texto*/
    margin: 2rem; /*--Se agrega margen en todas las direcciones*/
}
/**<Footer/>**/

/***Recordatorio***/
/*
display: flex;
flex-direction: column; 
align-items: center;    --alineación horizontal en columna-
justify-content: center;   --alineación vertical en columna--

display: flex;
flex-direction: row; 
align-items: center;    --alineación horizontal en fila--
justify-content: center;     --alineación vertical en fila--
*/

